/wos-persitence/bin
/wos-hmi/bin
/wos-ot/bin
/wos-serv/bin
/wos-utiles/bin
wos-hmi/database.db
/wos-serv/.settings
/wos-utiles/.settings
/wos-hmi/.settings
/wos-persitence/.settings
wos-hmi/.classpath
wos-ot/.classpath
wos-ot/.project
wos-persitence/.classpath
wos-persitence/.project
wos-serv/.classpath
wos-serv/.project
wos-utiles/.classpath
wos-utiles/.project
wos-hmi/.project
/wos-ot/.settings
.settings/org.eclipse.m2e.core.prefs
.project
/.idea
/wos-hmi/log
